<div class="container mainpage">
	<div class="hero-unit">
		<div class="row">
			<div class="span5">
				<h1>CrowdFit.me</h1>
				<p>An application built to bring people together with proven fitness experts to achieve their fitness and wellness goals</p>
			</div>
			<div class="span5 pagination-right">
				<h2>Login or Register</h2>
				<form class="well">
					<input id="username" type="text" placeholder="Username">
					<input id="password" type="password"  placeholder="Password">
					<p><a href="#">Create an account </a> or 
						<button type="submit" class="btn">Login</button>
					</p>
				</form>
			</div>
		</div>			
	</div>
</div>    
