

@import "bootstrap";
@import "bootstrap-responsive";


body {
  padding-top: 60px;
}

.content-wrapper {
    min-height: 500px;
}

.footer {
    background-color: #2C2C2C;
    clear: both;
    color: #FFFFFF;
    height: 50px;
    padding-top: 20px;
    position: relative;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}
.padding-top-10 {
    padding-top: 10px;
}
.float-left {
    float: left;
}

.float-right {
    float: right;
}